.app {
    font-family: sans-serif;
    text-align: center;
  }
  
  .hero {
    // min-height: 150px;
    padding: 1em 1em  !important;
    background-color: #F66483 !important;
    color: #FBFCFF;
    font-weight: bold;
  }
  
  .content {
    padding: 10px;
    // background-color: rgb(245, 109, 109);
    color: rgb(16, 119, 93);
  }

//     color: #000133;

